.Container {
  border: 1px solid transparent;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  width: 200px;
}

.Container :hover {
  background-color: antiquewhite;
}
.Container h1 {
  border: 1px solid rgb(228, 228, 228);
}

.Container h1,
.Container ol {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.Container ol {
  word-wrap: break-word; /* Legacy, still works in many browsers */
  overflow-wrap: break-word; /* Modern, standard property */
}
