.Container-main {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
}

.Container-main .Container-1,
.Container-2 {
  border: 1px solid black;
  margin: 4px;
  padding: 10px;
}
.Counter-main-div {
  display: grid;
  text-align: center;
  height: 100%;
}
.Counter-main-div .Counter-viewer {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Counter-main-div .Counter-viewer h1 {
  margin: 0;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5rem;
}

.Counter-main-div .Buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Buttons button {
  margin: 10px;
  width: 60%;
  height: 50%;
  border: none;
  font-weight: bold;
  border-radius: 10%;
  background-color: transparent;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.Buttons button:hover {
  /* Smooth, subtle shadow */
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.2);
  transform: translateY(10px); /* optional, adds lift effect */
}
